*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	/*background-image: url("./sauce/starry\ night.jpeg"); */
}
header,footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   /* background-image: url(./sauce/starry\ night.jpeg);*/
    background-color: #282c34;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
h1{
    text-align: center;
    font-family: cubano, sans-serif;
    font-weight: 200;
    /*color: rgb(11, 199, 206);*/
    font-size: 5vw;
    /*text-shadow: -0.04em 0.04em 0 #000,
				0.04em 0.04em 0 #000,
				0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;*/
}
.animation{
    height: 100vh;
    background-image: url(./sauce/voidyyy.jpeg);
    position: relative;
    overflow: hidden;
}
.cutie{
    height: 200px; ;
    position: absolute;
    top: 50%;
    left: 0%;
}
.header{
  opacity: 1;
}
.footer{
  opacity: 1;
}
